
{% load static %}

<html>
<link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}">
    <header>        
        <title>
            Spirit Swagger Shop
        </title>
    </header>

<!------------>
<!---Nav Bar-->
<!------------>
    <div class="container">
       <div class="logobar">
           <img src=" {% static '/home/SwaggerLogo.PNG' %}" href="../home">
            <ul class = "login">
                <li> <a href = "../login"> Login </a></li>
                <li> <a href = "../signup"> Sign Up </a></li>
            </ul>
       </div> 
        <nav>
            <ul>
                <li><a href = "../home">Home</a></li>
                <li><a href = "../shop">Shop</a></li>
                <li><a href = "../about">About</a></li>
                <li><a href = "../blog">Blog</a></li>
                <li><a href = "../contact">Contact</a></li>
            </ul>
        </nav>
    </div>

<!---------------->
<!-- Filter Bar -->
<!---------------->
    <div id="filterbar">
        <ul>
            <li> list1 that has a really long name and will certainly take up multiple lines.</li>
            <li> list2 </li>
        </ul>
    </div>
           
<!------------------>
<!-- Main Content -->
<!------------------>
<section>
    <div id="main">
        <div class = "rowblock">
            <div class = "itemblock">
                Item1
            </div>
            <div class = "itemblock">
                Item2
            </div>
            <div class = "itemblock">
                Item3
            </div>
            


        </div>
        {% for product in products %}
            <div class="itemblock">
                {{ product }}
            </div>
        {% endfor %}
<!--
        <div class="itemblock">
            Item2
        </div>
        <div class="itemblock">
            Item3
        </div>
-->        
    </div>
</section>


<!------------>
<!-- Footer -->
<!------------>
<section>
    <div class="container">
        <footer id="footer">
            <p><b>Spirit Swagger</b></p>
            <p>Address, Phone, Email, Website</p> 
            <p><a>Site Map</a> | <a>Terms & Conditions</a> | <a>Privacy Policy</a> | <a>About Us</a></p>
            <p style="align-content: right;">@ 2020 All Rights Reserved</p>
        </footer>
    </div>
</section>

</html>